{% extends "base.html" %}

{% block content %}

<h2>Websites</h2>

<table class="table">
    <tr>
        <th style="width: 3em"></th>
        <th>Website</th>
        <th>Races/Success/Fail</th>
        <th>Equal/Diff/Timeout/Error</th>
        <th>HIGH/NORMAL/LOW</th>
        <th>Total Execution Time</th>
    </tr>

    {% for item in website_index %}
    <tr>
        <td>
            {{ loop.index }}
        </td>
        <td>
            <a href="{{ item.handle }}/index.html">{{ item.handle }}</a>
        </td>
        <td class="{% if item.er_log.races_total == item.er_log.races_success %}success{% else %}danger{% endif %}">
            {{ item.er_log.races_total }}/<b>{{ item.er_log.races_success }}</b>/{{ item.er_log.races_failure }}
        </td>
        <td class="{% if item.result.error == 0 and item.result.timeout == 0 %}success{% elif item.result.timeout > 0 %}warning{% else %}danger{% endif %}">
            {{ item.result.equal }}/{{ item.result.diff }}/{{ item.result.timeout }}/{{ item.result.error }}
        </td>
        <td>
            ER: H-{{ item.result.er_high }} /  N-{{ item.result.er_normal }} / L-{{ item.result.er_low }} / <b>{{ item.result.er_unknown }}</b> <br/>
            R4: H-{{ item.result.r4_high }} /  N-{{ item.result.r4_normal }} / L-{{ item.result.r4_low }} 
        </td>
        <td>
            {{ item.er_log.execution_time // 60 }}m {{ item.er_log.execution_time % 60 }}s
        </td>
    </tr>
    {% endfor %}

    <tr>
        <th>

        </th>
        <th>
            Summary
        </th>
        <td>
            {{ summary.execution_result.total }} / <b>{{ summary.execution_result.success }} ({% if summary.execution_result.total > 0 %}{{ (((summary.execution_result.success / summary.execution_result.total) | round(2)) * 100) | int }}{% else %}0{% endif %}%)</b> / {{ summary.execution_result.failure }}
        </td>
        <td>
            {{ summary.race_result.equal }} / {{ summary.race_result.diff }} / {{ summary.race_result.timeout }} / {{ summary.race_result.error }}
        </td>
        <td>
            ER: H-{{ summary.er_classification_result.high }} / N-{{ summary.er_classification_result.normal }} / L-{{ summary.er_classification_result.low }} / U-{{ summary.er_classification_result.unknown }}<br/>
            R4: H-{{ summary.r4_classification_result.high }} / N-{{ summary.r4_classification_result.normal }} / L-{{ summary.r4_classification_result.low }} 
        </td>
        <td>
            {{ (summary.execution_time // 60) // 60 }}h {{ (summary.execution_time // 60) % 60 }}m {{ summary.execution_time % 60 }}s
        </td>
    </tr>

</table>

{% endblock %}
